@media (min-width: 600px) {
  .home p{
    font-size: 1rem;
  }
  .home span{
    font-size: 1.5rem;
  }
  div .name {
    font-size: 3.2rem;
  }
  .bgcontainer-link{
    background-color: #2A2B3D;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;

}
.bgcontainer-link img{
    width: 4rem;
    margin-right: 1rem;
}
.info{
  width: 50rem;
}
.seccion-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.seccion{
  font-size: 1.2rem;
  margin: 1.5rem;
  padding: 1.5rem;
}

.target{
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  color: black;
  height: 20rem;
  border-radius: 0.2rem;
}
.target-c{
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  color: black;
  height: 15rem;
  border-radius: 0.2rem;
}
.container-contacto{
  margin: 0% 10%;
}
.conteiner-email{
  margin: 0% 10%;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 776px) {
 
  #nav li{
      display: inline-block;
  }
  .hidden{
      display: block; 
  }
  .menu button{
      display: none;
  }
  .menu ul{
    text-align: right;
  }
.menu a{
    border: none;
  }

  /* home */
.conteiner-home{
    padding-top: 4rem;
    padding-bottom: 1rem;
 }
 .menu a:hover{
  color: #35B0BF;
}
.bg-image{
  height: 350px;
  width: 350px;
  background-color: #2A2B3D;
  border-radius: 50%;
}
.image{
  width: 295px;
}
.home p{
  margin: 0.2rem 0 0.2rem 0;
  font-size: 1.5rem;
}
.home span{
  font-size: 2rem;
}

.bgcontainer-link img{
  width: 6rem;
  margin-right: 1.5rem;
}
.barr-progres{
  padding: 1rem;
  margin: 0% 15%;
}
.conteiner-portafolio img{
  width: 500px;
}
.porcentaje1{
  top: 20%;
right: 42%;
z-index: 998;

}
.porcentaje2{
  top: 40%;
right: 30%;
z-index: 998;
}
.porcentaje3{
  top: 60%;
right: 20%;
z-index: 998;
}
.porcentaje4{
  top: 80%;
right: 42%;
z-index: 998;
}
div .name {
  font-size: 3.5rem;
} 
.container-contacto{
  margin: 0% 15%;
}
.conteiner-email{
  margin: 0% 15%;
}
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .menu ul{
        text-align: right;
        font-size: 1.1rem;
      }
    .menu a{
        margin-right: 1.5rem;
        border-bottom: none;
    }
    .home p{
      font-size: 2rem;
    }
    .home span{
      font-size: 2.5rem;
    }
    /* .home{
      width: 70%;
    } */
    div .name {
      font-size: 4rem;
    } 
    .conteiner-target-col{
  display: flex;
  width: calc(100/12 *3);
  justify-content: center;
  box-sizing: border-box;
  
}
}

@media (min-width: 1119px) {
    .menu ul{
        font-size: 1.1rem;
      }
    .menu a{
        margin-right: 3rem;
    }
    .conteiner-home{
      display: flex;
      justify-content: center;
      align-items: top;
      position: relative;
      padding-bottom: 2rem;

  }
  .bg-image{
      height: 400px;
      width: 400px;
      background-color: #2A2B3D;
      border-radius: 50%;
  }
  .image{
    width: 350px;
}

/* .home{
  width: 60%;
} */
.presentacion{
   align-items: flex-start;
   font-size: 1.5rem;
}
.presentacion span{
   margin-bottom: 1rem;
   border-bottom: 1px solid white;
   font-size: 3.5rem;
   font-weight: bolder;
}
.exp{
  justify-content: left;
  margin: 0%;
}
.bgcontainer-link img{
  width: 8rem;
  margin-right: 2rem;
}
.barr-progres{
  padding: 1rem;
  margin: 0% 25%;
}
.porcentaje1{
  top: 20%;
right: 45%;
z-index: 998;
}
.porcentaje2{
  top: 40%;
right: 35%;
z-index: 998;
}
.porcentaje3{
  top: 60%;
right: 28%;
z-index: 998;
}
.porcentaje4{
  top: 80%;
right: 45%;
z-index: 998;
}
div .name {
  font-size: 4.5rem;
} 
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .home{
      width: 100%;
      right: 20%;
      left: 0;
    }
    */
}